<form [formGroup]="fg" (ngSubmit)="submit()">
    <div class="form-group">
        <label>Nom : </label>
        <input nbInput formControlName="nom">
    </div>
    <div class="form-group">
        <label>Nom : </label>
        <input nbInput formControlName="auteur">
    </div>
    <div class="form-group">
        <button nbButton status="primary" outline>Ajouter</button>
    </div>
</form>
