<nb-layout>
  <nb-layout-header fixed>
    <a *ngIf="session.user" (click)="logout()">Logout</a>
    <a *ngIf="!session.user" routerLink="/login">Login</a>
  </nb-layout-header>
  <nb-sidebar>
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>
</nb-layout>
