<nb-card>
    <nb-card-body>
        <form (ngSubmit)="submit()" [formGroup]="fg">
            <input nbInput formControlName="email" placeholder="Email" type="email">
            <input nbInput formControlName="plainPassword" placeholder="Mot de Passe" type="password">
            <button nbButton outline status="info">Se Connecter</button>
        </form>
    </nb-card-body>
</nb-card>
