<nb-card>
    <button nbButton outline status="info" routerLink="/livre-add">Ajouter un nouveau livre</button>
    <nb-list *ngIf="model">
        <nb-list-item *ngFor="let item of model">
            <p>{{item.id}}</p>
            <p>{{item.nom}}</p>
            <p>{{item.auteur}}</p>
            <button (click)="delete(item.id)">Delete</button>
        </nb-list-item>
    </nb-list>
</nb-card>
